@import '../../styles/_variables.scss';

.department-list {
  list-style-type: none;
  padding: 0;

  li {
    background-color: white;
    border: 1px solid $havelock-blue;
    border-radius: 5px;
    cursor: pointer;
    color: $havelock-blue;
    font-size: 1.5vw;
    margin: 1vh 0;
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .delete-button {
      visibility: hidden;
      border: none;
      padding: .2vh 1vw;
      border-radius: 5px;
      cursor: pointer;
      background-color: $alto !important;
      color: white;
    }
  }

  li:hover {
    .delete-button {
      visibility: visible;
    }
  }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) {
  li {
    font-size: 4vw !important;

    .delete-button {
      visibility: visible !important;
      padding: 1vh 2vw !important;
    }
  }
}

