@import '../../styles/_variables.scss';

.flavors-list {
  list-style-type: none;
  padding: 0;
  width: 30vw;

  li {
    background-color: white;
    border: 1px solid $havelock-blue;
    border-radius: 5px;
    color: $havelock-blue;
    font-size: 1.5vw;
    margin: 1vh 0;
    padding: 1vh 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      cursor: pointer;
    }
  }
}

button.add-button {
  background-color: #4487db;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.5vw;
  padding: 1vh 2vw;
  width: 30vw;
}
