input,
textarea {
  border: 1px solid rgba(68, 135, 219, .4);
  border-radius: 5px;
  color: #4487db;
  padding: 1vh 3vw;

  &:focus {
    outline: none !important;
  }
}

button {
  background-color: #4487db;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;

  &:active {
    background-color: white;
    color: #4487db;
  }

  &:disabled {
    background-color: #d9d9d9;
  }

  &:focus {
    outline: none;
  }
}


@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) {
  input {
    font-size: 4vw;
  }

  button {
    font-size: 4vw;
  }
}
