@import '../../styles/variables.scss';
@import '../../styles/shared.scss';

.alert {
  text-align: center;
}

.alert-success {
  color: $havelock-blue;
}

.alert-danger {
  color: $bitter-sweet;
}

button {
  margin: auto;
  padding: 1vh 3vw;
}


@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) {
  .alert {
    font-size: 4vw;
  }
}
