@import '../styles/_variables.scss';

.my-header {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $alto;
  height: 5vh;
  display: flex;
  padding: 1vh 5vw;

  .left {
    flex: 2;
  }

  .right {
    align-items: center;
    flex: 2;
    justify-content: space-between;
    display: flex;

    h3 {
      color: $havelock-blue;
    }

    > * {
      margin-left: 1vw;
      text-align: right;
    }
  }

  .my-button {
    cursor: pointer;
    text-decoration: underline;
  }
}

.page-container {
  padding: 2vh 5vw;
}

@media only screen and (max-device-width: 767px) {
  .my-header {
    .left {
      flex: 4;
    }
  }

}


// iPad
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {


}
