<div class="app-container">
  <header class="my-header">
    <nav class="header-left">
      <a routerLink="/departments"
         routerLinkActive="active">
         Departments
      </a>
    </nav>

    <div class="header-right">
      <h3 *ngIf="currentUser" >{{currentUser.username}}</h3>
      <p *ngIf="!currentUser" [routerLink]="['/login']" class="my-button">Login</p>
      <p *ngIf="currentUser" (click)="logOut()" class="my-button">Logout</p>
    </div>
  </header>

  <div class="page-container">
    <router-outlet></router-outlet>
  </div>

</div>
