<fieldset class="rating">
    <input type="radio" id="flavor{{idName}}-star5" name="rating" value="5" (click)="rate(5)"
           [ngClass]="{ 'star-checked': rating === 5 }" />
    <label class="full" for="flavor{{idName}}-star5" title="Awesome - 5 stars"></label>
    <input type="radio" id="flavor{{idName}}-star4" name="rating" value="4" (click)="rate(4)"
           [ngClass]="{ 'star-checked': rating >= 4 }" />
    <label class="full" for="flavor{{idName}}-star4" title="Pretty good - 4 stars"></label>
    <input type="radio" id="flavor{{idName}}-star3" name="rating" value="3" (click)="rate(3)"
           [ngClass]="{ 'star-checked': rating >= 3 }" />
    <label class="full" for="flavor{{idName}}-star3" title="Meh - 3 stars"></label>
    <input type="radio" id="flavor{{idName}}-star2" name="rating" value="2" (click)="rate(2)"
           [ngClass]="{ 'star-checked': rating >= 2 }" />
    <label class="full" for="flavor{{idName}}-star2" title="Kinda bad - 2 stars"></label>
    <input type="radio" id="flavor{{idName}}-star1" name="rating" value="1" (click)="rate(1)"
           [ngClass]="{ 'star-checked': rating >= 1 }" />
    <label class="full" for="flavor{{idName}}-star1" title="Sucks big time - 1 star"></label>
</fieldset>
