@import '../../styles/_shared.scss';
@import '../../styles/_variables.scss';

:host {
  text-align: center;

  h2 {
    color: $havelock-blue;
  }

  button {
    margin: auto;
    padding: 1vh 3vw;
  }

  .types {
    border: none;
  }

  .text-input {
    margin-bottom: 1vh;
  }

  star-rating {
    margin: auto;
  }

}

@media only screen and (min-device-width: 300px) and (max-device-width: 1024px) {
  h2,
  .types input,
  .types label {
    font-size: 4.5vw !important;
  }
}
